@import '../../../app.component.scss';

.checkbox-group {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.checkbox-margin {
  margin: 0 10px;
}

.color-picker ::ng-deep .mat-form-field-infix {
  display: flex;
}
